<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>WISDOM</title>

  <link rel="icon" href="{{ url_for('static', filename='Favicon/water_drop.svg') }} " type="image/svg">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.4.1.min.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


  <div class="container-fluid bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-0 pr-0">
      <a class="navbar-brand mr-4">WISDOM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class="container-fluid flex-nowrap justify-content-start">
            <i class="fa fa-chart-bar mr-2"></i>
            <li class="nav-item active">
              <a class="nav-link" href="#">Visualization <span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div class="container-fluid flex-nowrap justify-content-start">
            <i class="fa fa-phone mr-2"></i>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
          </div>
          <div class="container-fluid flex-nowrap justify-content-start">
            <i class="fa fa-bullhorn mr-2"></i>
            <li class="nav-item">
              <a class="nav-link" href="#">Acknowledgements</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="row pt-4 pb-3 pl-4 pr-4">
      <div id="row-form" class="col-sm-4">

        <div id="collapse-visualization-settings-card" class="collapse card mb-4">
          <div class="card-header">
            <p class="d-inline mr-0">Visualization Settings</p>
            <button id="btn-redo-visualization-settings"
              class="btn btn-outline-dark border-0 btn-sm rounded-circle d-inline" type="button" title="Redo" btn-type="redo">
              <i class="fa fa-redo-alt"></i>
            </button>
          </div>
          <form id="form-visualization-settings">

            <div class="card-body">
              <h5 class="card-title d-inline mr-1">Sensors</h5>
              <button id="btn-collapse-visualization-settings"
                class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle" type="button"
                data-toggle="collapse" data-target="#collapse-visualization-settings" aria-expanded="false"
                aria-controls="collapse-visualization-settings" title="Hide" btn-type="collapse">
                <i class="fa fa-chevron-up"></i>
              </button>
              <p class="card-text">Choose which sensors you want to see</p>

              <div class="collapse show" id="collapse-visualization-settings" class="collapse">

                <div class="form-group ">
                  <label class="text-dark font-weight-bold">Focus</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="vis-focus-real" value="real"
                        name="check-vis-focus">
                      <label class="form-check-label" for="vis-focus-real">Real</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="vis-focus-simulated" value="simulated"
                        name="check-vis-focus">
                      <label class="form-check-label" for="vis-focus-simulated">Simulated</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-dark font-weight-bold">Sensor Group</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="vis-sensor-group-telemanagement"
                        value="telemanagement" name="check-vis-sensor-group">
                      <label class="form-check-label" for="vis-sensor-group-telemanagement">Telemanagement</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="vis-sensor-group-telemetry" value="telemetry"
                        name="check-vis-sensor-group">
                      <label class="form-check-label" for="vis-sensor-group-telemetry">Telemetry</label>
                    </div>
                  </div>
                </div>

                <div id="div-vis-sensor-type" class="form-group">
                  <label class="text-dark font-weight-bold" for="vis-sensor-type">Sensor Type</label>
                  <select id="vis-sensor-type" class="selectpicker form-control" multiple data-actions-box="true">
                    <option value="flow">Flow</option>
                    <option value="pressure">Pressure</option>
                  </select>
                </div>

                <div id="div-vis-sensor-name" class="form-group">
                  <label class="text-dark font-weight-bold" for="vis-sensor-name">Sensor Name</label>
                  <select id="vis-sensor-name" class="selectpicker form-control" data-live-search="true" multiple
                    data-actions-box="true" multiple data-selected-text-format="count > 5">
                  </select>
                </div>

              </div>
            </div>
          </form>

        </div>

        <form id="form-target" class="needs-validation" novalidate>
          <div class="card mb-4">
            <div class="card-header">
              <p class="d-inline mr-0">Analysis Settings</p>
              <button id="btn-redo-analysis-settings"
                class="btn btn-outline-dark border-0 btn-sm rounded-circle d-inline" type="button" title="Redo" btn-type="redo">
                <i class="fa fa-redo-alt"></i>
              </button>
            </div>
            <div class="card-body">

              <h5 class="card-title d-inline mr-1">Target Time Series</h5>
              <button id="btn-collapse-target" class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle"
                type="button" data-toggle="collapse" data-target="#collapse-target" aria-expanded="false"
                aria-controls="collapse-target" title="Hide" btn-type="collapse">
                <i class="fa fa-chevron-up"></i>
              </button>
              <p class="card-text mb-0">Choose the data</p>

              <div class="collapse show" id="collapse-target">

                <div class="form-group mt-3">
                  <label class="text-dark font-weight-bold" for="source">Source</label>
                  <select id="source" class="selectpicker form-control" title="Nothing selected" required>
                    <option value="infraquinta">Infraquinta</option>
                    <option value="barreiro">Barreiro</option>
                    <option value="beja">Beja</option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="text-dark font-weight-bold">Focus</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="focus-real" value="real" name="check-focus">
                      <label class="form-check-label" for="focus-real">Real</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="focus-simulated" value="simulated"
                        name="check-focus">
                      <label class="form-check-label" for="focus-simulated">Simulated</label>
                    </div>
                  </div>
                  <div id="div-focus">
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-dark font-weight-bold">Sensor Group</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sensor-group-telemanagement"
                        value="telemanagement" name="check-sensor-group">
                      <label class="form-check-label" for="sensor-group-telemanagement">Telemanagement</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sensor-group-telemetry" value="telemetry"
                        name="check-sensor-group">
                      <label class="form-check-label" for="sensor-group-telemetry">Telemetry</label>
                    </div>
                  </div>
                  <div id="div-sensor-group">
                  </div>
                </div>

                <div id="div-sensor-type" class="form-group">
                  <label class="text-dark font-weight-bold" for="sensor-type">Sensor Type</label>
                  <select id="sensor-type" class="selectpicker form-control" multiple data-actions-box="true">
                    <option value="flow">Flow</option>
                    <option value="pressure">Pressure</option>
                  </select>
                </div>

                <div id="div-sensor-name" class="form-group">
                  <label class="text-dark font-weight-bold" for="sensor-name">Sensor Name</label>
                  <select id="sensor-name" class="selectpicker form-control" data-live-search="true" multiple
                    data-actions-box="true" multiple data-selected-text-format="count > 5">
                  </select>
                </div>

                <div class="form-group">
                  <label class="text-dark font-weight-bold" for="date-range">Date Range</label>
                  <input id="date-range" class="form-control" type="text" name="date-range"
                    value="01/06/2017 - 15/06/2017" />
                </div>

                <div id="div-calendar" class="form-group">
                  <label class="text-dark font-weight-bold" for="calendar">Calendar</label>
                  <select id="calendar" class="selectpicker form-control" data-live-search="true" multiple
                    data-actions-box="true">
                    <option value="0" data-tokens="Weekday">Monday</option>
                    <option value="1" data-tokens="Weekday">Tuesday</option>
                    <option value="2" data-tokens="Weekday">Wednesday</option>
                    <option value="3" data-tokens="Weekday">Thursday</option>
                    <option value="4" data-tokens="Weekday">Friday</option>
                    <option value="5" data-tokens="Weekend">Saturday</option>
                    <option value="6" data-tokens="Weekend">Sunday</option>
                  </select>
                </div>

                <div class="form-group mb-2">
                  <label class="mb-0 text-dark font-weight-bold" for="granularity">Granularity</label>
                  <div class="container-fluid pl-0 pr-0">
                    <div class="row ml-0">
                      <div class="col mt-2 pl-0">
                        <select id="granularity" class="selectpicker form-control" required>
                          <option value="0" selected>Minutes</option>
                          <option value="1">Hours</option>
                          <option value="2">Days</option>
                          <option value="3">Months</option>
                        </select>
                      </div>
                      <div class="col mt-2 pl-0">
                        <input class="form-control" type="number" min="1" value="1" id="granularity-value" required>
                        <div class="invalid-feedback text-muted">
                          Choose a positive number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-0 mr-4 ml-4">

            <div class="card-body">

              <h5 class="card-title mr-1 d-inline">Data Analysis</h5>
              <button id="btn-collapse-analysis" class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle"
                type="button" data-toggle="collapse" data-target="#collapse-analysis" aria-expanded="false"
                aria-controls="collapse-analysis" title="Hide" btn-type="collapse">
                <i class="fa fa-chevron-up"></i>
              </button>
              <p class="card-text mb-0">Choose how to analyse the data</p>

              <div class="collapse show" id="collapse-analysis">

                <div class="form-group mt-3">
                  <label class="text-dark font-weight-bold">Mode</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="check-mode" id="check-default" value="default"
                        checked>
                      <label class="form-check-label" for="check-default">Default</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="check-mode" id="check-parametric"
                        value="parametric">
                      <label class="form-check-label" for="check-parametric">Parametric</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-dark font-weight-bold">Pairwise Comparisons</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="check-all-pairs" value="all pairs"
                        name="check-pairwise-comparisons">
                      <label class="form-check-label" for="check-all-pairs" checked>All Pairs</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="check-cross-type" value="cross type"
                        name="check-pairwise-comparisons">
                      <label class="form-check-label" for="check-cross-type">Cross Type</label>
                    </div>
                  </div>
                </div>

                <div id="div-correlation-type" class="form-group">
                  <label class="text-dark font-weight-bold" for="correlation-type">Correlation Type</label>
                  <select id="correlation-type" class="selectpicker form-control" multiple data-actions-box="true">
                    <option value="tuples">Tuples</option>
                    <option value="temporal">Temporal</option>
                  </select>
                </div>

                <div id="div-correlation" class="form-group">
                  <label class="text-dark font-weight-bold" for="correlation">Correlation</label>
                  <select id="correlation" class="selectpicker form-control" multiple data-actions-box="true">
                  </select>
                </div>

                <div class="form-group mb-0">
                  <label class="text-dark font-weight-bold">PCA</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input id="pca" class="form-check-input" type="checkbox" name="check-pca" value="pca">
                      <label class="form-check-label" for="pca">Show Statistics</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-1 mr-4 ml-4">

            <div class="card-body">
              <button id="run-btn" class="btn btn-info btn-block text-white" type="submit">Run Query</button>
            </div>

          </div>
        </form>
      </div>

      <div id="row-visualization" class="col-sm-8">
        <div class="card mb-4">
          <div class="card-header">
            <p class="d-inline mr-1">Visualization</p>
            <button id="btn-collapse-visualization" class="btn btn-outline-dark border-0 btn-sm rounded-circle d-inline"
              type="button" title="Expand" name="active" btn-type="collapse">
              <i class="fa fa-expand"></i>
            </button>
            <button id="btn-collapse-visualization-settings-card"
              class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle" type="button" data-toggle="collapse"
              data-target="#collapse-visualization-settings-card" aria-expanded="true"
              aria-controls="collapse-visualization-settings-card" title="Settings" disabled btn-type="collapse">
              <i class="fa fa-cog"></i>
            </button>
            <button id="btn-redo-visualization" class="btn btn-outline-dark border-0 btn-sm rounded-circle d-inline"
              type="button" title="Redo" btn-type="redo" disabled>
              <i class="fa fa-redo-alt"></i>
            </button>
          </div>

          <div class="card-body" id="visualizaition-help-text-card-body">
            <p class="card-text" id="visualization-help-text">Here you will be able to explore the results. Please press
              the "Run Query" button.</p>
          </div>

          <div id="collapse-line_chart-section" class="collapse">
            <div class="card-body">
              <h5 class="card-title d-inline mr-1">Line Chart</h5>
              <button id="btn-collapse-line_chart" class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle"
                type="button" data-toggle="collapse" data-target="#collapse-line_chart" aria-expanded="false"
                aria-controls="collapse-line_chart" title="Hide" btn-type="collapse">
                <i class="fa fa-chevron-up"></i>
              </button>
              <div class="collapse show" id="collapse-line_chart">
                <div id="line_chart"></div>
              </div>
            </div>
          </div>

          <div id="collapse-heat_map-section" class="collapse">
            <hr class="my-0 mr-4 ml-4">
            <div class="card-body">
              <h5 class="card-title d-inline mr-1">Correlogram</h5>
              <button id="btn-collapse-heat_map" class="btn btn-outline-dark border-0 btn-sm d-inline rounded-circle"
                type="button" data-toggle="collapse" data-target="#collapse-heat_map" aria-expanded="false"
                aria-controls="collapse-heat_map" title="Hide" btn-type="collapse">
                <i class="fa fa-chevron-up"></i>
              </button>

              <div class="collapse show" id="collapse-heat_map">
                <div class="row justify-content-md-start ml-0">
                  <div class="col-md-auto mt-2 pl-0 text-center">
                    <small class="form-text text-muted mb-1">Correlation</small>
                    <select id="corr-correlation" class="selectpicker form-control">
                      <option value="flow">Flow</option>
                      <option value="pressure">Pressure</option>
                    </select>
                    
                  </div>
                  <div class="col-md-auto mt-2 pl-0 text-center">
                    <small class="form-text text-muted mb-1">Order By</small>
                    <select id="corr-order-by" class="selectpicker form-control">
                      <option value="distance">Distance</option>
                      <option value="correlation">Correlation</option>
                    </select>        
                  </div>
                  <div class="col-md-auto mt-2 pl-0 align-self-center text-center">
                    <small class="form-text text-muted mb-1">Swap</small>
                    <button id="btn-swap-columns-corr" class="btn border-0 btn-light btn-outline-dark" type="button"
                      title="Swap Columns">
                      <i class="fa fa-random"></i>
                    </button>
                  </div>
                  <div class="col-md-auto mt-2 pl-0 align-self-center text-center">
                    <small class="form-text text-muted mb-1">Lock</small>
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label id="btn-lock-columns-corr-label" class="btn border-0 btn-light btn-outline-dark" title="Lock Columns">
                        <input id="btn-lock-columns-corr" type="checkbox" autocomplete="off">
                        <i id="btn-lock-columns-corr-image" class="fa fa-lock-open"></i>
                      </label>
                    </div>
                  </div>
                </div>

                <div id="heat_map"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <!--<div>Ícones feitos por <a href="https://www.flaticon.com/br/autores/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>-->
  <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <script src="{{url_for('static', filename='index.js')}}"></script>

</body>

</html>